/*tailwind*/
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    -webkit-tap-highlight-color: transparent;
}

/* SVG */
.svg-image {
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.svg-image.stroked {
    stroke: currentColor;
}

.svg-image.filled {
    fill: currentColor;
}

.tippy-box {
    color: #F3EFF2 !important;
    background-color: #4E3A4A !important;
}
