/*tailwind*/
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    -webkit-tap-highlight-color: transparent;
}

/* SVG */
.svg-image {
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.svg-image.stroked {
    stroke: currentColor;
}

.svg-image.filled {
    fill: currentColor;
}

.tippy-box {
    color: #F3EFF2 !important;
    background-color: #4E3A4A !important;
}

/* SCROLLBAR */
@media (min-width: 768px) {
    * {
        scrollbar-height: auto;
        scrollbar-width: auto;
    }

    * {
        scrollbar-color: #091314 #93aca4 ;
    }

    ::-webkit-scrollbar {
        height: 13px;
        width: 13px;
    }
    ::-webkit-scrollbar-track {
        @apply bg-green_giorgia-300;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 0px;
    }
    ::-webkit-scrollbar-thumb {
        @apply bg-green_giorgia-800;
    }
}
